<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <link rel="canonical" th:href="@{https://getbootstrap.com/docs/5.3/examples/sign-in/}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/@docsearch/css@3}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sign-up.css}" rel="stylesheet">
</head>
<body>
<main>
    <header th:replace="fragments :: header"></header>
    <h1>Home page</h1>
    <!--    TODO: Temporary, to visualize the user-->
    <div th:if="${user != null}">
        <h1>Welcome, <span th:text="${user.username}">User</span>!</h1>
        <p>Your role: <span th:text="${user.role}">ROLE</span></p>

        <!-- Optional: Role-based dialogs or logic -->
        <div th:if="${user.role == 'ADMIN'}">
            <!-- Dialog or options for admin -->
            <button>Manage Schools</button>
            <button>Manage Teachers</button>
        </div>
    </div>
</main>
<script th:src="@{/js/index.js}"></script>
</body>
</html>